.header-container {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-wrap: wrap;
  font-family: Poppins , sans-serif;

  /* height: 100px; */
  justify-content: space-between;
  width: 100%;
}

.header-container h2 {
  margin: 0;
}

.header-player-content {
  align-items: center;
  display: flex;
  padding-left: 7px;
}

.header-name {
  color: white;
  font-size: 20px;
  font-weight: 700;
  word-break: break-all;
}

.header-img {
  border-radius: 100%;
  margin-left: 5px;
  width: 30%;
}

.header-score-content {
  padding: 0 7px;
}

.header-score {
  color: white;
  font-weight: 700;
}

@media screen and ( min-width : 720px ) {

  .header-container {
    justify-content: space-evenly;
  }
}
